<?xml version="1.1" encoding='UTF-8' ?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- log message patterns -->
    <property name="defaultPattern" value="%date %-5level %-15(%logger{30}) - %msg%n"/>

    <!-- ### Files Section ### -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>core-lib.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/usr/local/log/core-lib.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.reflections" level="warn"/>
    <logger name="org.springframework" level="warn"/>
    <logger name="org.apache" level="warn"/>
    <logger name="org.flywaydb.core.internal.sqlscript.DefaultSqlScriptExecutor" level="debug"/>
    <logger name="com.pws" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>